#body{
  layout: vertical;
}

#search_bar{
  layout: horizontal;
  height: auto;
}
#query{
  width:95%;
  border: solid #a6e3a1;
}
#search_button{
  text-align: left;
}

#main{
  scrollbar-color: #a6e3a1;
  scrollbar-color-active: #a6e3a1;
  scrollbar-color-hover: #a6e3a1;
}
